.fundForm {
  align-self: center;
  background: #fff;
  padding: 30px;
  border-radius: 13px;
  position: relative;
  min-width: 30%;
}
.close {
  position: absolute;
  right: 6px;
  top: 6px;
  width: 30px;
  height: 20px;
  opacity: 0.3;
  background: none;
  border: none;
  cursor: pointer;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  top: 0;
  left: 15px;
  content: ' ';
  height: 18px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

// Input Class Styling
.input {
  position: relative;
  padding: 5px;

  input {
    border: none;
    // border-bottom: 1px solid #ccc;
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    transition: 0.2s ease;
  }

  label {
    position: absolute;
    bottom: 20px;
    left: 15px;
    transition: 0.2s ease;
    height: 20px;
  }
}

$multiplierGreen: #00e676;

.input {
  position: relative;
  padding: 5px;
  margin-bottom: 7.5px;
}
.input input {
  border: none;
  margin: 5px 0;
  padding: 10px;
  width: 100%;
  transition: 0.2s ease;
}
.input label {
  position: absolute;
  bottom: 20px;
  left: 15px;
  transition: 0.2s ease;
}

.custom-input {
  input {
    outline: none;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 96%,
      $multiplierGreen 4%
    );
    background-position: -400px 0;
    background-size: 400px 100%;
    background-repeat: no-repeat;
    border-bottom: 1px solid #ddd;

    &:focus {
      background-position: 0 0;
    }
  }
  label {
    color: #aaa;
    -webkit-transition: 0.25s ease;
    -moz-transition: 0.25s ease;
    -o-transition: 0.25s ease;
    transition: 0.25s ease;
  }

  input:valid ~ label,
  input:disabled ~ label {
    font-weight: bold;
    font-size: 12.5px;
    top: -10px;
    left: 7.5px;
  }
}

.notValid {
  color: #f44336;
  font-size: 0.9rem;
}
.updating {
  color: #4caf50;
  font-size: 0.9rem;
}

.submit {
  cursor: pointer;
  border: none;
  width: 55px;
  height: 30px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  background-color: #e0e0e0;
  box-sizing: border-box;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  &:hover {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    background-color: #d5d5d5;
  }
}
